airflow-provider-fivetran-async==1.0.0
airflow-provider-hightouch==4.0.0
apache-airflow-providers-google==8.11.0
apache-airflow-providers-http==4.2.0
apache-airflow-providers-salesforce==5.3.0
apache-airflow-providers-slack==7.2.0
apache-airflow-providers-snowflake==4.0.4
apache-airflow-providers-common-sql==1.3.4
astro-sdk-python==1.5.3
datapackage==1.15.2
flake8==6.0.0
flake8-docstrings==1.7.0
gspread==5.7.2
gusty==0.20.0
kaleido==0.2.1
mail-parser==3.15.0
mock==5.0.1
plotly==5.13.1
pytest==7.2.2
requests-mock==1.10.0
splunk-sdk==1.7.3
stripe==5.3.0
us==2.0.2